<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Collecting Job Data Using APIs**

Estimated time needed: **45 to 60** minutes

## Objectives

After completing this lab, you will be able to:

*   Collect job data from GitHub Jobs API
*   Store the collected data into an excel spreadsheet.

## Warm-Up Exercise

Before you attempt the actual lab, here is a fully solved warmup exercise that will help you to learn how to access an API.

Using an API, let us find out who currently are on the International Space Station (ISS).<br> The API at [http://api.open-notify.org/astros.json](http://api.open-notify.org/astros.json?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01\&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264\&cm_mmca1=000026UJ\&cm_mmca2=10006555\&cm_mmca3=M12345678\&cvosrc=email.Newsletter.M12345678\&cvo_campaign=000026UJ) gives us the information of astronauts currently on ISS in json format.<br>
You can read more about this API at [http://open-notify.org/Open-Notify-API/People-In-Space/](http://open-notify.org/Open-Notify-API/People-In-Space?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01\&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264\&cm_mmca1=000026UJ\&cm_mmca2=10006555\&cm_mmca3=M12345678\&cvosrc=email.Newsletter.M12345678\&cvo_campaign=000026UJ)

In [1]:
import requests # you need this module to make an API call

In [2]:
api_url = "http://api.open-notify.org/astros.json" # this url gives use the astronaut data

In [3]:
response = requests.get(api_url) # Call the API using the get method and store the
                                # output of the API call in a variable called response.

In [4]:
if response.ok:             # if all is well() no errors, no network timeouts)
    data = response.json()  # store the result in json format in a variable called data
                            # the variable data is of type dictionary.

In [5]:
print(data)   # print the data just to check the output or for debugging

{'people': [{'name': 'Mark Vande Hei', 'craft': 'ISS'}, {'name': 'Oleg Novitskiy', 'craft': 'ISS'}, {'name': 'Pyotr Dubrov', 'craft': 'ISS'}, {'name': 'Thomas Pesquet', 'craft': 'ISS'}, {'name': 'Megan McArthur', 'craft': 'ISS'}, {'name': 'Shane Kimbrough', 'craft': 'ISS'}, {'name': 'Akihiko Hoshide', 'craft': 'ISS'}, {'name': 'Nie Haisheng', 'craft': 'Tiangong'}, {'name': 'Liu Boming', 'craft': 'Tiangong'}, {'name': 'Tang Hongbo', 'craft': 'Tiangong'}], 'number': 10, 'message': 'success'}

Print the number of astronauts currently on ISS.

In [6]:
print(data.get('number'))

10

Print the names of the astronauts currently on ISS.

In [7]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 10 astronauts on ISS
And their names are :
Mark Vande Hei
Oleg Novitskiy
Pyotr Dubrov
Thomas Pesquet
Megan McArthur
Shane Kimbrough
Akihiko Hoshide
Nie Haisheng
Liu Boming
Tang Hongbo

Hope the warmup was helpful. Good luck with your next lab!

## Lab: Collect Jobs Data using GitHub Jobs API

### Objective: Determine the number of jobs currently open for various technologies

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [8]:
#Import required libraries
import requests
import pandas as pd

In [9]:
baseurl = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/datasets/githubposting.json"
df=pd.read_json(baseurl)
df.set_index('A',inplace=True)
df.drop(df.index[0], inplace=True)
df.rename(columns={'B':'Number_of_jobs'}, inplace=True)
df

             Number_of_jobs
A
java                     92
C                       184
C#                       14
C++                      24
Java                     92
JavaScript               65
Python                   51
Scala                    47
Oracle                    6
SQL Server               16
MySQL Server              5
PostgreSQL               17
MongoDB                   4

Write a function to get the number of jobs for the given technology.<br>
*Note:* The API gives a maximum of 50 jobs per page.<br>
If you get 50 jobs per page, it means there could be some more job listings available.<br>
So if you get 50 jobs per page you should make another API call for next page to check for more jobs.<br>
If you get less than 50 jobs per page, you can take it as the final count.<br>

In [10]:
def get_number_of_jobs(technology):
    df=pd.read_json(baseurl)
    df.set_index('A',inplace=True)
    df.drop(df.index[0], inplace=True)
    df.rename(columns={'B':'Number_of_jobs'}, inplace=True)
    df2=df.loc[technology]
    number_of_jobs=int(df2['Number_of_jobs'])
       
    return technology,number_of_jobs

#For original scenario
def get_number_of_jobs1(technology):
    if technology=='C#':
        technology='C%23'
        
    number_of_jobs = 0
    #your code goes here
    job_count=50
    num=1
    while (job_count==50):
        url=baseurl+"?description="+technology+"&page="+str(num)
        print(url)
        response = requests.get(url)
        if response.ok:
            data = response.json()
        job_count=len(data)
        if job_count!=50:
            number_of_jobs+=job_count
        else:
            number_of_jobs+=job_count
            num+=1
        print(number_of_jobs)
    return technology,number_of_jobs

Call the function for Python and check if it is working.

In [11]:
d=get_number_of_jobs('Python')
d=list(d)
print(d)

['Python', 51]

### Store the results in an excel file

Call the API for all the given technologies above and write the results in an excel spreadsheet.

If you do not know how create excel file using python, double click here for **hints**.

<!--

from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet
ws.append(['Country','Continent'])   # add a row with two columns 'Country' and 'Continent'
ws.append(['Eygpt','Africa'])        # add a row with two columns 'Egypt' and 'Africa'
ws.append(['India','Asia'])          # add another row
ws.append(['France','Europe'])       # add another row
wb.save("countries.xlsx")            # save the workbook into a file called countries.xlsx


-->

Create a python list of all technologies for which you need to find the number of jobs postings.

In [12]:
#your code goes here  
technologies=["C","C#","C++","Java","JavaScript","Python","Scala","Oracle","SQL Server","MySQL Server","PostgreSQL","MongoDB"]

Import libraries required to create excel spreadsheet

In [13]:
# your code goes here
!pip install openpyxl
from openpyxl import Workbook

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
     |████████████████████████████████| 243 kB 34.9 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7

Create a workbook and select the active worksheet

In [14]:
# your code goes here 
wb=Workbook()
ws=wb.active
ws.append(['Technologies','Number of Jobs'])

Find the number of jobs postings for each of the technology in the above list.
Write the technology name and the number of jobs postings into the excel spreadsheet.

In [26]:
#your code goes here
import numpy as np  
y=[]
for i in technologies:
    x=get_number_of_jobs(i)
    x=list(x)
    y.append(x)
    print(x)
    ws.append(x)
df=pd.DataFrame(y)
print(df)

['C', 184]
['C#', 14]
['C++', 24]
['Java', 92]
['JavaScript', 65]
['Python', 51]
['Scala', 47]
['Oracle', 6]
['SQL Server', 16]
['MySQL Server', 5]
['PostgreSQL', 17]
['MongoDB', 4]
               0    1
0              C  184
1             C#   14
2            C++   24
3           Java   92
4     JavaScript   65
5         Python   51
6          Scala   47
7         Oracle    6
8     SQL Server   16
9   MySQL Server    5
10    PostgreSQL   17
11       MongoDB    4

Save into an excel spreadsheet named 'github-job-postings.xlsx'.

In [44]:
#your code goes here
import numpy as np    
wb.save("github-job-postings.xlsx")

import os
import pandas as pd
print (os.path.abspath("github_job-postings.xlsx"))

from project_lib import Project
project = Project(Project,"251e3092-a5db-4f43-a5a4-7e896e83afd7","p-17385424a37b8172b896ce6648aa910b4d3464c0")
project.save_data(file_name = "github_job-postings.csv",data = df.to_csv(index=False))

2021-07-27 15:15:55,531 - __PROJECT_LIB__ - ERROR - failed to initialize ibmos2spark integration
Traceback (most recent call last):
  File "/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/project_lib/storage/bcos.py", line 138, in _initialize_bcos2spark
    import ibmos2spark
ModuleNotFoundError: No module named 'ibmos2spark'

/home/wsuser/work/github_job-postings.xlsx

{'file_name': 'github_job-postings.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'capstoneproject-donotdelete-pr-5tkvw68evrmhto',
 'asset_id': 'c2379488-b8d0-4f00-889d-ca395cc44c59'}

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-6-25         | 0.2     | Malika            | Updated GitHub job json link       |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01\&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264\&cm_mmca1=000026UJ\&cm_mmca2=10006555\&cm_mmca3=M12345678\&cvosrc=email.Newsletter.M12345678\&cvo_campaign=000026UJ).